.gu-mirror
  position fixed !important
  margin 0 !important
  z-index 9999 !important

.gu-hide
  display none !important

.gu-unselectable
  user-select none !important

.gu-transit
  opacity 0.2

.gu-mirror
  opacity 0.8
