.gu-mirror
  position fixed !important
  margin 0 !important
  z-index 9999 !important

.gu-hide
  display none !important

.gu-unselectable
  user-select none !important

.gu-concealed
  visibility hidden !important
  opacity 0 !important
